In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.4'

In [3]:
rick_and_morty = pd.DataFrame(
{
    "nombre": ["Rick","Morty"],
    "Apellidos": ["sanchez","smith"],
    "edad": [50,20]
})
rick_and_morty

  nombre Apellidos  edad
0   Rick   sanchez    50
1  Morty     smith    20

In [4]:
url= 'https://raw.githubusercontent.com/manugarri/curso_data_science/master/Secciones/Seccion3.Intro_a_Data_Science/Intro_a_Pandas/primary_results.csv'
df = pd.read_csv(url)
df

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
...,...,...,...,...,...,...,...,...
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000

In [5]:
df.head(5)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [6]:
df.tail()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.0
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.0
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.0
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.0
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.0

In [7]:
df.dtypes

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

In [8]:
df.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

In [9]:
df.index

RangeIndex(start=0, stop=24611, step=1)

In [10]:
df.iloc[1]

state                         Alabama
state_abbreviation                 AL
county                        Autauga
fips                           1001.0
party                        Democrat
candidate             Hillary Clinton
votes                            2387
fraction_votes                    0.8
Name: 1, dtype: object

In [11]:
df["state"]

0        Alabama
1        Alabama
2        Alabama
3        Alabama
4        Alabama
          ...
24606    Wyoming
24607    Wyoming
24608    Wyoming
24609    Wyoming
24610    Wyoming
Name: state, Length: 24611, dtype: object

In [12]:
df[df.votes>590000]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57

In [13]:
df[(df.county == "Los Angeles") & (df.party == "Democrat")]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.42
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57

In [14]:
df.sort_values(by="votes", ascending=False)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454
4463,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536
...,...,...,...,...,...,...,...,...
8476,Maine,ME,Greenbush,92300181.0,Democrat,Hillary Clinton,0,0.000
8474,Maine,ME,Great Pond,92300180.0,Democrat,Hillary Clinton,0,0.000
8473,Maine,ME,Great Pond,92300180.0,Democrat,Bernie Sanders,0,0.000
9637,Massachusetts,MA,Holland,92500135.0,Democrat,No Preference,0,0.000
8290,Maine,ME,Castle Hill,92300087.0,Democrat,Hillary Clinton,0,0.000

In [15]:
df.groupby(["state", "party"]).votes.sum()

state          party
Alabama        Democrat       386327
               Republican     837632
Alaska         Democrat          539
               Republican      21930
Arizona        Democrat       399097
                              ...
West Virginia  Republican     188138
Wisconsin      Democrat      1000703
               Republican    1072699
Wyoming        Democrat          280
               Republican        903
Name: votes, Length: 95, dtype: int64

In [16]:
df["letra_estado"] = df.state_abbreviation.apply(lambda s: s[0])

In [17]:
df.head(5)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,letra_estado
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,A
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,A
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,A
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,A
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,A

In [18]:
url_pobreza = 'https://raw.githubusercontent.com/manugarri/curso_data_science/master/Secciones/Seccion3.Intro_a_Data_Science/Intro_a_Pandas/PovertyEstimates.csv'
df_pobreza = pd.read_csv(url_pobreza)

In [19]:
df_pobreza

      FIPStxt  PCTPOVALL_2015
0           0            14.7
1        1000            18.5
2        1001            12.7
3        1003            12.9
4        1005            32.0
...       ...             ...
3189    56037             8.5
3190    56039             6.6
3191    56041             9.8
3192    56043            11.2
3193    56045             9.8

[3194 rows x 2 columns]

In [20]:
df_merged = df.merge(df_pobreza, left_on = "fips", right_on= "FIPStxt")

In [21]:
df_merged.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,letra_estado,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,A,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,A,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,A,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,A,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,A,1001,12.7

In [22]:
df_merged.to_excel("votos_pobreza.xls", sheet_name="datos")

<ipython-input-22-cdba7b4cf33d>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_merged.to_excel("votos_pobreza.xls", sheet_name="datos")